.container {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 10;
  background-color: #f6f6f6;
  animation: header 1s;
}

@keyframes header {
  0% {
    opacity: 0;
    transform: translateY(-100%);
    animation-timing-function: ease-in;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.leftContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rightContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  color: #343434;
  margin-right: 2rem;
  cursor: pointer;
}

.resumeBtn {
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  padding: 0.7rem 1.8rem;
  border-radius: 0.2rem;
  background-color: #535353;
  color: white;
}

.resumeBtn:hover {
  background-color: #393939;
}

.resumeBtn:active {
  background-color: #535353;
}

.logo {
  width: 3rem;
  cursor: pointer;
}

.menuIcon {
  margin-right: 1.5rem;
  cursor: pointer;
  font-size: 2rem;
  color: rgb(77, 77, 77);
  transition: 0.15s;
  display: none;
}

@media (max-width: 600px) {
  .title {
    display: none;
  }
  .menuIcon {
    display: block;
  }
  .resumeBtn {
    padding: 0.6rem 1.2rem;
  }
  .logo {
    width: 2.5rem;
  }
}
