.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f6f6f6;
}
.introContainer {
  width: 80%;
}

.introFirst {
  font-size: 1.1rem;
  color: #343434;
}

.introName {
  font-size: 5rem;
  font-weight: bold;
  color: #343434;
}

.introBuild {
  font-size: 4rem;
  font-weight: bold;
  color: #747474;
}
.text {
  display: inline-block;
}

.introDescript {
  margin-top: 1.5rem;
  font-size: 1.1rem;
  line-height: 1.6rem;
  width: 70%;
  color: #343434;
}

.introButton {
  cursor: pointer;
  margin-top: 3rem;
  font-size: 1rem;
  border: 1px solid #343434;
  padding: 0.8rem 3rem;
  background-color: #343434;
  color: white;
  font-weight: bold;
}

@media (min-width: 1546px) {
  .introContainer {
    width: 80rem;
  }
}
